version: "3"
services:
  app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - database
  database:
    image: mongo
    volumes:
      - "mongodata:/data/db"
    ports:
      - "27017:27017"
volumes:
  mongodata:
